body {
  background: #222;
  font-family:
    "SF Mono", "Segoe UI Mono", Menlo, Consolas, "Liberation Mono",
    "Courier New", monospace;
  color: white;
}

#projects {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  column-gap: 1em;
  row-gap: 2em;
  grid-row-gap: 3em;
    a {
    color: white;
    text-decoration: none;
  }
  figcaption {
    font-size: 1.2em;
    margin-top: 0.4em;
  }
  li {
    text-align: center;
  }
  img {
    width: 100%;
  }
  figure {
    margin: 0;
  }
}
}
